@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap');

html {
	scroll-behavior: smooth;
}

.skill-content {
	margin: auto;
	text-align: center;
}

#c {
	margin: auto;
}

.header {
	text-align: center;
	width: 100%;
	margin: auto;
	height: 25px;
}

.pentagon {
	width: 300px;
	height: 300px;
	margin: auto;
	padding: 3px 3px 28px 3px;
	display: inline-block;
}


/* ----------------------- */

.step {

	/* padding: 10px; */

	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	background-color: cream;
}

.v-stepper {
	position: relative;
	/*   visibility: visible; */
}


/* regular step */
.step .circle {
	background-color: white;
	border: 3px solid gray;
	border-radius: 100%;
	width: 20px;
	/* +6 for border */
	height: 20px;
	display: inline-block;
}

.step .line {
	top: 20px;
	left: 9px;
	/*   height: 120px; */
	height: 100%;

	position: absolute;
	border-left: 3px solid gray;
}

.step.completed .circle {
	visibility: visible;
	background-color: rgb(6, 150, 215);
	border-color: rgb(6, 150, 215);
}

.step.completed .line {
	border-left: 3px solid rgb(6, 150, 215);
}

.step.active .line {
	border-left: 3px solid rgb(6, 150, 215);
}

.step.active .circle {
	visibility: visible;
	border-color: rgb(6, 150, 215);
}

.step.empty .circle {
	visibility: hidden;
}

.step.empty .line {
	/*     visibility: hidden; */
	/*   height: 150%; */
	top: 0;
	height: 150%;
}

.step-content {
	margin-left: 40px;
	margin-bottom: 40px;
	display: inline-block;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ffffff33;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ffffff67;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.font-poppins {
	font-family: 'Poppins', sans-serif;
}

.social-card {
	display: flex;
	height: 70px;
	width: 350px;
}

.social-card svg {
	position: absolute;
	display: flex;
	width: 60%;
	height: 100%;
	font-size: 24px;
	font-weight: 700;
	opacity: 1;
	transition: opacity 0.25s;
	z-index: 2;
	padding: 0.25rem;
}

.social-card .social-link1,
.social-card .social-link2,
.social-card .social-link3,
.social-card .social-link4,
.social-card .social-link5 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
	color: whitesmoke;
	font-size: 24px;
	text-decoration: none;
	transition: 0.25s;
	border-radius: 50px;
}

.social-card svg {
	transform: scale(1);
}

.social-card .social-link1:hover {
	background: #f09433;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
	animation: bounce_613 0.4s linear;
}

.social-card .social-link2:hover {
	background-color: #242c34;
	animation: bounce_613 0.4s linear;
}

.social-card .social-link3:hover {
	background-color: #ce1507;
	animation: bounce_613 0.4s linear;
}

.social-card .social-link4:hover {
	background-color: #0a66c2;
	animation: bounce_613 0.4s linear;
}

.social-card .social-link5:hover {
	background-color: #ff8000;
	animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
	40% {
		transform: scale(1.4);
	}

	60% {
		transform: scale(0.8);
	}

	80% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

* {
	box-sizing: border-box;
	cursor: none;
}

body {
	text-align: center;
	display: flex;
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/debut_light.png");
}

.nav {
	display: inline-flex;
	position: relative;
	overflow: hidden;
	max-width: 100%;
	background-color: #ffffff00;
	padding: 0 20px;
	border-radius: 40px;
	box-shadow: inset 0 0 3px 0px rgb(255 255 255 / 20%);
}

.nav-item {
	color: #83818c;
	padding: 20px;
	text-decoration: none;
	transition: .3s;
	margin: 0 6px;
	z-index: 1;
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		bottom: -6px;
		left: 0;
		width: 100%;
		height: 5px;
		background-color: #dfe2ea;
		border-radius: 8px 8px 0 0;
		opacity: 0;
		transition: .3s;
	}
}

.nav-item:not(.is-active):hover:before {
	opacity: 1;
	bottom: 0;
}


.nav-item:not(.is-active):hover {
	color: #ffffff;
}

.nav-indicator {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	transition: .4s;
	height: 5px;
	z-index: 1;
	border-radius: 8px 8px 0 0;
}

@media (max-width: 580px) {
	.nav {
		overflow: auto;
	}
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Apply the fade-in animation to the specified class */
.animate-fade-in {
	animation: fadeIn 4s ease-in-out forwards;
}


/* ----------------------------------- */
.headline {
	font-size: clamp(3rem, 8vw, 7rem);
	font-weight: 800;
	letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);
	position: relative;
	overflow: hidden;
	background: #ffffff00;
	margin: 0;
	font-family: "Inter", "DM Sans", Arial, sans-serif;
}

.typewrite {
	/* font-size: 180%; */
	border-right: 2px solid rgba(255, 255, 255, .75);
	line-height: 1.15;
}

.anim-typewrite {
	animation: blinkTextCursor 500ms infinite normal;
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(255, 255, 255, .75);
	}

	to {
		border-right-color: transparent;
	}
}

/* Please â¤ this if you like it! */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background: Black;
}

.shape {
	margin: 0 auto;
	aspect-ratio: 1;
	position: relative;
	--width: 100%;
	--scale: 1;
	--opacity: 0.66;
	--top: 0;
	--left: 0;
	--path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	--background: linear-gradient(hotpink, rgb(255, 81, 0), orange, yellow, rgb(0, 245, 118));
	--offset: 0deg;
	--speed: 8000ms;
	clip-path: var(--path);
	background: var(--background);
	scale: var(--scale);
	opacity: var(--opacity);
	width: var(--width);
	top: var(--top);
	left: var(--left);
	rotate: var(--offset);
	mix-blend-mode: difference;
	animation: turn var(--speed) linear forwards infinite;
}

@keyframes turn {
	to {
		rotate: calc(var(--offset) + 1turn);
	}
}

.blur-container {
	--blur: 10px;
	filter: blur(var(--blur));
	height: 100vh;
	width: 100%;
	display: grid;
	overflow: hidden;
}

.blur-container>* {
	grid-column: 1/-1;
	grid-row: 1/-1;
}


/* ======================================== * 
		        BEST VIEWED FULLSCREEN
   https://codepen.io/ig_design/full/GPVXVx
 * ======================================== */

@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');

body {
	width: 100%;
	display: block;
	overflow-x: hidden;
	background-color: #1f2029;
	color: #c4c3ca;
	font-family: 'Muli', sans-serif;
}

::selection {
	background-color: #000;
	color: #fff;
}

::-moz-selection {
	background-color: #000;
	color: #fff;
}

a:hover {
	text-decoration: none;
}

/* #Cursor
================================================== */

.cursor,
.cursor2,
.cursor3 {
	position: fixed;
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
	pointer-events: none;
	left: -100px;
	top: 50%
}

.cursor {
	background-color: #fff;
	height: 0;
	width: 0;
	z-index: 99999;
}

.cursor2,
.cursor3 {
	height: 36px;
	width: 36px;
	z-index: 99998;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out
}

.cursor2.hover,
.cursor3.hover {
	-webkit-transform: scale(2) translateX(-25%) translateY(-25%);
	transform: scale(2) translateX(-25%) translateY(-25%);
	border: none
}

.cursor2 {
	border: 2px solid #fff;
	box-shadow: 0 0 22px rgba(255, 255, 255, 0.6);
}

.cursor2.hover {
	background: rgba(255, 255, 255, .1);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 1200px) {

	.cursor,
	.cursor2,
	.cursor3 {
		display: none
	}
}

.shadow-title {
	position: fixed;
	top: 0;
	margin-top: 30px;
	left: 20px;
	width: 100%;
	height: 300%;
	text-align: left;
	font-family: 'Muli', sans-serif;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	font-size: 8vw;
	line-height: 1;
	color: rgba(200, 200, 200, .5);
	background: linear-gradient(90deg, rgba(200, 200, 200, 0.005), rgba(200, 200, 200, 1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
	z-index: 1;
}

.section-parallax {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	z-index: 2;
}

.section {
	position: relative;
	width: 100%;
	display: block;
}

.full-height {
	height: 100vh;
}

.section.z-bigger {
	z-index: 100;
}

.section.z-bigger-2 {
	z-index: 200;
}

.section-title-wrap {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	z-index: 3;
}

.section-title-wrap p {
	letter-spacing: 2px;
	font-size: 22px;
	font-weight: 700;
	padding: 0;
	color: #c7aaf3;
}

.section-title-wrap h1,
.white-title {
	margin: 0;
	padding: 0;
	font-size: 5vw;
	letter-spacing: 8px;
	font-weight: 900;
	color: #fff;
	line-height: 1;
}

.padding-top-bottom {
	padding-top: 100px;
	padding-bottom: 100px;
}

.over-hide {
	overflow: hidden;
}

.background-dark {
	background-color: #101010;
}

.project-link-wrap {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}

.project-link-wrap>p {
	font-size: 100px;
	line-height: 80px;
	color: #c4c3ca;
	font-weight: 900;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
	opacity: 0.35;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

/* .project-link-wrap:hover p {
	opacity: 0.15;
} */

/* Case Study Showcase
================================================== */

.case-study-wrapper {
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	z-index: 100;
	width: auto;
	margin: 0;
	padding: 8px 15px;
	/* -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); */
	list-style: none;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.case-study-wrapper .case-study-name {
	margin: 5px;
	display: inline-block;
}

.case-study-wrapper .case-study-name a {
	position: relative;
	list-style: none;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 0;
	font-size: 14px;
	font-weight: 800;
	line-height: 1;
	letter-spacing: 2px;
	color: #8e8d9a;
	opacity: 0.5;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.case-study-wrapper .case-study-name a:hover {
	text-decoration: none;
}

.case-study-wrapper .case-study-name.active a {
	opacity: 1;
	color: #fff;
}

.case-study-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	z-index: 2;
}

.case-study-images li {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	list-style: none;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.case-study-images li .img-hero-background {
	position: absolute;
	width: calc(100% - 80px);
	max-width: 950px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	overflow: hidden;
	list-style: none;
	opacity: 0;
	border-radius: 20px;
	box-shadow: 0 0 50px rgba(0, 0, 0, .6);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.case-study-images li .img-hero-background img {
	width: 100%;
	height: auto;
	display: block;
}

.case-study-images li.show .img-hero-background {
	opacity: 1;
	z-index: 200;
}

.case-study-images li .case-study-title {
	position: absolute;
	top: 0;
	height: 100%;
	text-align: center;
	left: 30px;
	display: block;
	opacity: 0;
	z-index: 19;
	letter-spacing: 1px;
	font-size: 14px;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	font-weight: 400;
	line-height: 16px;
	color: #fff;
	font-style: italic;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.case-study-images li.show .case-study-title {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.case-study-images li .hero-number-back {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	list-style: none;
	opacity: 0;
	font-size: 100px;
	font-weight: 900;
	line-height: 1;
	color: rgba(255, 255, 255, .2);
	z-index: 5;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.case-study-images li .hero-number {
	position: absolute;
	top: 45px;
	left: 50%;
	width: 40px;
	margin-left: -70px;
	display: block;
	letter-spacing: 2px;
	text-align: center;
	list-style: none;
	opacity: 0;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	color: #fff;
	z-index: 6;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.case-study-images li .hero-number-fixed {
	position: absolute;
	top: 45px;
	left: 50%;
	margin-left: 30px;
	width: 40px;
	text-align: center;
	display: block;
	letter-spacing: 2px;
	list-style: none;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	color: #fff;
	z-index: 6;
}

.case-study-images li .hero-number-fixed:before {
	position: absolute;
	content: '';
	top: 50%;
	left: -60px;
	width: 60px;
	height: 1px;
	z-index: 1;
	background-color: rgba(255, 255, 255, .4);
}

.case-study-images li.show .hero-number {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.case-study-images li.show .hero-number-back {
	opacity: 1;
}

/* #back to top arrow
================================================== */

.scroll-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0;
	visibility: hidden;
	width: 40px;
	height: 40px;
	z-index: 251;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 40px 40px;
	cursor: pointer;
	background-image: url('https://img.icons8.com/ios-glyphs/90/FFFFFF/chevron-up.png');
	transform: translateY(-15px);
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.scroll-to-top:hover {
	bottom: 32px;
}

.scroll-to-top.active-arrow {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/* #Media
================================================== */

@media (max-width: 1200px) {
	.scroll-to-top {
		right: 13px;
	}

	.case-study-images li .case-study-title {
		left: 13px;
	}
}

@media (max-width: 991px) {
	.case-study-images li .hero-number-back {
		font-size: 26vw;
	}
}

@media (max-width: 767px) {
	.case-study-wrapper {
		background-color: rgba(31, 32, 41, .95);
		box-shadow: 0 0 10px rgba(0, 0, 0, .8);
	}

	.case-study-wrapper .case-study-name a {
		font-size: 11px;
		letter-spacing: 1px;
		text-align: center;
		margin: 5px;
	}

	.case-study-wrapper .case-study-name {
		margin: 0 auto;
		text-align: center;
	}

	.case-study-images li .hero-number-back {
		font-size: 32vw;
	}
}

/* #Link to page
================================================== */

.link-to-portfolio {
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 20;
	cursor: pointer;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 3px;
	background-position: center center;
	background-size: cover;
	background-image: url('https://ivang-design.com/ig-logo.jpg');
	box-shadow: 0 0 0 2px rgba(255, 255, 255, .1);
	transition: opacity .2s, border-radius .2s, box-shadow .2s;
	transition-timing-function: ease-out;
}

.link-to-portfolio:hover {
	opacity: 0.8;
	border-radius: 50%;
	box-shadow: 0 0 0 20px rgba(255, 255, 255, .1);
}